.common-row,
.row-content {
    position: relative
}

.bee-form .bee-form-row .bee-field button {
    font-size: inherit;
    font-family: inherit
}

.bee-button .content,
.bee-row-14 .bee-col-2 .bee-block-3 .bee-button-container {
    text-align: center
}

.bee-row-11 .bee-col-1,
.bee-row-11 .bee-col-2,
.bee-row-11 .bee-col-3,
.bee-row-11 .bee-col-4,
.bee-row-19 .bee-col-2 {
    border-bottom: 0 solid #A87165;
    border-left: 0 solid #A87165;
    border-right: 0px solid #A87165;
    border-top: 0 solid #A87165
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif
}

a {
    color: #7747ff
}

* {
    box-sizing: border-box
}

body,
h1,
h2,
h3,
p {
    margin: 0
}

.bee-menu .bee-hamburger-trigger {
    display: none
}

.row-content {
    max-width: 900px;
    margin: 0 auto;
    display: flex
}

.row-content .bee-col-w2 {
    flex-basis: 16.6666666667%
}

.row-content .bee-col-w3 {
    flex-basis: 25%
}

.row-content .bee-col-w4 {
    flex-basis: 33.3333333333%
}

.row-content .bee-col-w5 {
    flex-basis: 41.6666666667%
}

.row-content .bee-col-w6 {
    flex-basis: 50%
}

.row-content .bee-col-w7 {
    flex-basis: 58.3333333333%
}

.row-content .bee-col-w8 {
    flex-basis: 66.6666666667%
}

.bee-row-14 .bee-col-2 .bee-block-3 div.label:not(.inline),
.bee-row-14 .bee-col-2 .bee-block-3 label:not(.inline),
.bee-row-22 .bee-col-4 .bee-block-2 div.label:not(.inline),
.bee-row-22 .bee-col-4 .bee-block-2 label:not(.inline),
.row-content .bee-col-w12 {
    flex-basis: 100%
}

.bee-button a,
.bee-icon .bee-icon-label-right a,
.bee-menu ul li a {
    text-decoration: none
}

.bee-divider,
.common-image {
    overflow: auto
}

.bee-divider .center,
.common-image .bee-center {
    margin: 0 auto
}

.common-image .bee-right {
    float: right
}

.bee-row-11 .bee-col-1 .bee-block-1,
.bee-row-11 .bee-col-2 .bee-block-1,
.bee-row-11 .bee-col-3 .bee-block-1,
.bee-row-11 .bee-col-4 .bee-block-1,
.bee-row-14 .bee-col-2 .bee-block-3 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
.bee-row-19 .bee-col-1 .bee-block-1,
.about-me .bee-col-2 .bee-block-1,
.bee-row-22 .bee-col-1 .bee-block-1,
.bee-row-22 .bee-col-4 .bee-block-2 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]),
.bee-row-7 .bee-col-1 .bee-block-1,
.bee-row-7 .bee-col-2 .bee-block-1,
.bee-row-7 .bee-col-3 .bee-block-1 {
    width: 100%
}

.bee-form .bee-form-row .bee-field {
    padding: 3px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center
}

.bee-form .bee-form-row .bee-field.bee-inline-field {
    flex-wrap: nowrap;
    align-items: flex-start;
    display: block
}

.bee-form .bee-form-row .bee-field .bee-form-option-wrapper {
    align-items: flex-start;
    display: inline-flex
}

.bee-form .bee-form-row .bee-field .bee-form-option-wrapper>input {
    margin: 0 0 0 3px
}

.bee-form .bee-form-row .bee-field .bee-form-option-wrapper>label {
    min-width: 0
}

.bee-form .bee-form-row .bee-field input:not([type=checkbox]):not([type=radio]) {
    flex-grow: 1;
    font-family: inherit;
    font-size: inherit
}

.bee-form .bee-form-row .bee-field input[type=checkbox]:not(:first-of-type) {
    margin-left: 15px
}

.bee-form .bee-form-row .bee-field .bee-button-container {
    flex-grow: 1
}

.bee-form input[type=color] {
    border: none;
    height: 38px
}

.bee-form input[type=color]::-webkit-color-swatch-wrapper {
    margin: 0;
    padding: 2px
}

.bee-form input[type=color]::-webkit-color-swatch {
    margin: 0;
    padding: 0
}

.bee-icon {
    display: inline-block;
    vertical-align: middle
}

.bee-icon .bee-content {
    display: flex;
    align-items: center
}

.common-image img {
    display: block;
    width: 100%
}

.bee-menu .bee-hamburger-controls {
    cursor: pointer;
    display: inline-block;
    position: relative
}

.bee-menu .bee-hamburger-controls span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .12s ease-in-out
}

.bee-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.bee-menu ul.bee-horizontal li {
    display: inline-block
}

.common-paragraph {
    overflow-wrap: anywhere
}

.bee-social .icon img {
    max-height: 32px
}

.row-white {
    background-color: #f8f4f1;
    background-repeat: no-repeat
}

.row-black {
    background-color: #000000;
    background-repeat: no-repeat
}

.row-grey {
    background-color: #a9a9a9;
    background-repeat: no-repeat
}


.common-row .row-content {
    background-repeat: no-repeat;
    color: #000000
}

.header .bee-col-1,
.header .bee-col-2,
.bee-row-14 .bee-col-1,
.bee-row-14 .bee-col-2,
.bee-row-17 .bee-col-1,
.bee-row-17 .bee-col-2,
.bee-row-22 .bee-col-1,
.bee-row-22 .bee-col-2,
.bee-row-22 .bee-col-3,
.bee-row-22 .bee-col-4,
.bee-row-5 .bee-col-1,
.bee-row-5 .bee-col-2,
.bee-row-7 .bee-col-1,
.bee-row-7 .bee-col-2,
.bee-row-7 .bee-col-3,
.bee-row-9 .bee-col-1 {
    padding: 20px
}

.header .bee-col-1 .bee-block-1 {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%
}

.header .bee-col-2 .bee-block-1 {
    color: #000000;
    font-family: inherit;
    font-size: 18px;
    text-align: right
}

.bee-row-10,
.bee-row-11,
.bee-row-12,
.bee-row-16,
.bee-row-17,
.bee-row-18,
.bee-row-19,
.about-me,
.bee-row-20,
.bee-row-3,
.bee-row-9 {
    background-repeat: no-repeat
}

.about-me .bee-col-1 {
    padding: 60px 20px 20px
}

.about-me .bee-col-1 .bee-block-1 {
    padding-top: 35px;
    text-align: center;
    width: 100%
}

.about-me .bee-col-1 .bee-block-2 {
    padding-top: 45px
}

.about-me .bee-col-1 .bee-block-3 {
    padding-top: 45px;
    text-align: left
}

.about-me .bee-col-1 .bee-block-4,
.bee-row-22 .bee-col-1 .bee-block-3 {
    padding-top: 15px
}

.about-me .bee-col-2 {
    padding: 55px 20px 20px
}

.bee-row-14 .bee-col-2 .bee-block-1,
.bee-row-17 .bee-col-1 .bee-block-1,
.bee-row-19 .bee-col-2 .bee-block-12,
.bee-row-19 .bee-col-2 .bee-block-2,
.bee-row-19 .bee-col-2 .bee-block-7,
.bee-row-5 .bee-col-1 .bee-block-1,
.bee-row-9 .bee-col-1 .bee-block-2 {
    text-align: center;
    width: 100%
}

.bee-row-17 .bee-col-2 .bee-block-1,
.bee-row-5 .bee-col-2 .bee-block-1 {
    padding-top: 20px;
    text-align: right
}

.bee-row-7 .bee-col-1 .bee-block-2,
.bee-row-7 .bee-col-2 .bee-block-2,
.bee-row-7 .bee-col-3 .bee-block-2 {
    padding-top: 15px;
    text-align: center;
    width: 100%
}

.bee-row-11 .bee-col-1 .bee-block-4,
.bee-row-11 .bee-col-2 .bee-block-4,
.bee-row-11 .bee-col-3 .bee-block-4,
.bee-row-11 .bee-col-4 .bee-block-4,
.bee-row-14 .bee-col-2 .bee-block-2,
.bee-row-19 .bee-col-1 .bee-block-4,
.bee-row-19 .bee-col-2 .bee-block-14,
.bee-row-19 .bee-col-2 .bee-block-4,
.bee-row-19 .bee-col-2 .bee-block-9,
.bee-row-22 .bee-col-1 .bee-block-2,
.bee-row-9 .bee-col-1 .bee-block-3 {
    padding-top: 20px
}

.bee-row-11 .bee-col-1,
.bee-row-11 .bee-col-2,
.bee-row-11 .bee-col-3,
.bee-row-11 .bee-col-4 {
    padding: 20px
}

.bee-row-11 .bee-col-1 .bee-block-2,
.bee-row-11 .bee-col-2 .bee-block-2,
.bee-row-11 .bee-col-3 .bee-block-2,
.bee-row-11 .bee-col-4 .bee-block-2 {
    padding-top: 20px;
    text-align: center;
    width: 100%
}

.bee-row-11 .bee-col-1 .bee-block-3,
.bee-row-11 .bee-col-2 .bee-block-3,
.bee-row-11 .bee-col-3 .bee-block-3,
.bee-row-11 .bee-col-4 .bee-block-3 {
    padding-top: 10px
}

.bee-row-11 .bee-col-1 .bee-block-5,
.bee-row-11 .bee-col-2 .bee-block-5,
.bee-row-11 .bee-col-3 .bee-block-5,
.bee-row-11 .bee-col-4 .bee-block-5 {
    padding-top: 25px;
    text-align: left
}

.bee-row-14 .bee-col-1 .bee-block-1 {
    padding-top: 15px;
    width: 100%
}

.bee-row-14 .bee-col-2 .bee-block-3 {
    font-family: inherit;
    font-size: 18px;
    padding-top: 25px
}

.bee-row-19 .bee-col-1 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px
}

.bee-row-19 .bee-col-1 .bee-block-2 {
    padding-top: 25px;
    text-align: center;
    width: 100%
}

.bee-row-19 .bee-col-1 .bee-block-3,
.bee-row-19 .bee-col-2 .bee-block-13,
.bee-row-19 .bee-col-2 .bee-block-3,
.bee-row-19 .bee-col-2 .bee-block-8 {
    color: #000000;
    font-family: inherit;
    font-size: 16px;
    padding-top: 5px;
    text-align: left
}

.bee-row-19 .bee-col-1 .bee-block-5 {
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: left
}

.bee-row-19 .bee-col-2 {
    padding-left: 20px;
    padding-right: 20px
}

.bee-row-19 .bee-col-2 .bee-block-1 {
    padding-bottom: 30px
}

.bee-row-19 .bee-col-2 .bee-block-10,
.bee-row-19 .bee-col-2 .bee-block-15,
.bee-row-19 .bee-col-2 .bee-block-5 {
    padding-top: 15px;
    text-align: left
}

.bee-row-19 .bee-col-2 .bee-block-11,
.bee-row-19 .bee-col-2 .bee-block-6 {
    padding-bottom: 30px;
    padding-top: 30px
}

.bee-row-19 .bee-col-2 .bee-block-16 {
    padding-bottom: 20px;
    padding-top: 30px
}

.bee-row-22 .bee-col-2 .bee-block-1,
.bee-row-22 .bee-col-3 .bee-block-1 {
    padding-bottom: 15px;
    text-align: center;
    width: 100%
}

.bee-row-22 .bee-col-2 .bee-block-2,
.bee-row-22 .bee-col-3 .bee-block-2 {
    color: #000000;
    font-family: inherit;
    font-size: 16px;
    text-align: left
}

.bee-row-22 .bee-col-2 .bee-block-3 {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left
}

.bee-row-22 .bee-col-4 .bee-block-1 {
    padding-bottom: 20px;
    text-align: center;
    width: 100%
}

.bee-row-22 .bee-col-4 .bee-block-2 {
    font-family: inherit;
    font-size: 16px
}

.bee-row-24 .row-content {
    color: #000000
}

.bee-row-22 .bee-col-2 .bee-block-2 li,
.bee-row-22 .bee-col-3 .bee-block-2 li,
.bee-row-24 .bee-col-1 {
    padding-bottom: 5px;
    padding-top: 5px
}

.bee-row-24 .bee-col-1 .bee-block-1 {
    color: #1e0e4b;
    font-family: Inter, sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center
}

.about-me .cv-name h1 {
    color: #000000;
    direction: ltr;
    font-family: "Playfair Display", Georgia, serif;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 120%;
    text-align: left
}

.about-me .bee-col-1 .bee-block-2 {
    color: #000000;
    font-size: 34px;
    letter-spacing: 0;
    line-height: 120%;
    text-align: left
}

.header .bee-col-2 .bee-block-1 li a,
.bee-row-11 .bee-col-1 .bee-block-4 a,
.bee-row-11 .bee-col-2 .bee-block-4 a,
.bee-row-11 .bee-col-3 .bee-block-4 a,
.bee-row-11 .bee-col-4 .bee-block-4 a,
.bee-row-14 .bee-col-2 .bee-block-2 a,
.bee-row-19 .bee-col-1 .bee-block-4 a,
.about-me .bee-col-1 .bee-block-2 a,
.about-me .bee-col-1 .bee-block-4 a,
.bee-row-22 .bee-col-1 .bee-block-2 a,
.bee-row-22 .bee-col-2 .bee-block-2 li a,
.bee-row-22 .bee-col-3 .bee-block-2 li a,
.bee-row-9 .bee-col-1 .bee-block-3 a {
    color: #000000
}

.bee-row-11 .bee-col-1 .bee-block-3 p:not(:last-child),
.bee-row-11 .bee-col-1 .bee-block-4 p:not(:last-child),
.bee-row-11 .bee-col-2 .bee-block-3 p:not(:last-child),
.bee-row-11 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-11 .bee-col-3 .bee-block-3 p:not(:last-child),
.bee-row-11 .bee-col-3 .bee-block-4 p:not(:last-child),
.bee-row-11 .bee-col-4 .bee-block-3 p:not(:last-child),
.bee-row-11 .bee-col-4 .bee-block-4 p:not(:last-child),
.bee-row-14 .bee-col-2 .bee-block-2 p:not(:last-child),
.bee-row-19 .bee-col-1 .bee-block-4 p:not(:last-child),
.bee-row-19 .bee-col-2 .bee-block-14 p:not(:last-child),
.bee-row-19 .bee-col-2 .bee-block-4 p:not(:last-child),
.bee-row-19 .bee-col-2 .bee-block-9 p:not(:last-child),
.about-me .bee-col-1 .bee-block-2 p:not(:last-child),
.about-me .bee-col-1 .bee-block-4 p:not(:last-child),
.bee-row-22 .bee-col-1 .bee-block-2 p:not(:last-child),
.bee-row-22 .bee-col-1 .bee-block-3 p:not(:last-child),
.bee-row-9 .bee-col-1 .bee-block-3 p:not(:last-child) {
    margin-bottom: undefined
}

.about-me .bee-col-1 .bee-block-4 {
    color: #000000;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 120%;
    text-align: left
}

.bee-row-11 .bee-col-1 .bee-block-5 a,
.bee-row-11 .bee-col-2 .bee-block-5 a,
.bee-row-11 .bee-col-3 .bee-block-5 a,
.bee-row-11 .bee-col-4 .bee-block-5 a,
.about-me .bee-col-1 .bee-block-3 a {
    background-color: #a87165;
    border-radius: 0;
    color: #ffffff;
    direction: ltr;
    font-family: inherit;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 200%;
    padding: 10px 40px;
    width: auto
}

.header .bee-col-2 .bee-block-1 li {
    padding: 5px 10px
}

.bee-row-14 .bee-col-2 .bee-block-1 h2,
.bee-row-17 .bee-col-1 .bee-block-1 h2,
.bee-row-5 .bee-col-1 .bee-block-1 h2,
.bee-row-9 .bee-col-1 .bee-block-2 h2 {
    color: #000000;
    direction: ltr;
    font-family: "Playfair Display", Georgia, serif;
    font-size: 46px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 120%;
    text-align: left
}

.bee-row-17 .bee-col-2 .bee-block-1 a,
.bee-row-5 .bee-col-2 .bee-block-1 a {
    border-radius: 0;
    color: #a87165;
    direction: ltr;
    font-family: inherit;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 200%;
    width: auto
}

.bee-row-7 .bee-col-1 .bee-block-2 h3,
.bee-row-7 .bee-col-2 .bee-block-2 h3,
.bee-row-7 .bee-col-3 .bee-block-2 h3 {
    color: #000000;
    direction: ltr;
    font-family: "Playfair Display", Georgia, serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 120%;
    text-align: center
}

.bee-row-14 .bee-col-2 .bee-block-2,
.bee-row-9 .bee-col-1 .bee-block-3 {
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 150%;
    text-align: left
}

.bee-row-11 .bee-col-1 .bee-block-2 h3,
.bee-row-11 .bee-col-2 .bee-block-2 h3,
.bee-row-11 .bee-col-3 .bee-block-2 h3,
.bee-row-11 .bee-col-4 .bee-block-2 h3,
.bee-row-19 .bee-col-1 .bee-block-2 h3,
.bee-row-19 .bee-col-2 .bee-block-12 h3,
.bee-row-19 .bee-col-2 .bee-block-2 h3,
.bee-row-19 .bee-col-2 .bee-block-7 h3,
.bee-row-22 .bee-col-2 .bee-block-1 h3,
.bee-row-22 .bee-col-3 .bee-block-1 h3,
.bee-row-22 .bee-col-4 .bee-block-1 h3 {
    color: #000000;
    direction: ltr;
    font-family: "Playfair Display", Georgia, serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 120%;
    text-align: left
}

.bee-row-11 .bee-col-1 .bee-block-3,
.bee-row-11 .bee-col-2 .bee-block-3,
.bee-row-11 .bee-col-3 .bee-block-3,
.bee-row-11 .bee-col-4 .bee-block-3 {
    color: #a87165;
    font-size: 26px;
    line-height: 120%;
    text-align: left
}

.bee-row-11 .bee-col-1 .bee-block-3 a,
.bee-row-11 .bee-col-2 .bee-block-3 a,
.bee-row-11 .bee-col-3 .bee-block-3 a,
.bee-row-11 .bee-col-4 .bee-block-3 a,
.bee-row-19 .bee-col-2 .bee-block-14 a,
.bee-row-19 .bee-col-2 .bee-block-4 a,
.bee-row-19 .bee-col-2 .bee-block-9 a {
    color: #a87165
}

.bee-row-11 .bee-col-1 .bee-block-4,
.bee-row-11 .bee-col-2 .bee-block-4,
.bee-row-11 .bee-col-3 .bee-block-4,
.bee-row-11 .bee-col-4 .bee-block-4,
.bee-row-19 .bee-col-1 .bee-block-4,
.bee-row-19 .bee-col-2 .bee-block-14,
.bee-row-19 .bee-col-2 .bee-block-4,
.bee-row-19 .bee-col-2 .bee-block-9 {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 150%;
    text-align: left
}

.bee-row-19 .bee-col-1 .bee-block-3 .bee-icon-image,
.bee-row-19 .bee-col-2 .bee-block-13 .bee-icon-image,
.bee-row-19 .bee-col-2 .bee-block-3 .bee-icon-image,
.bee-row-19 .bee-col-2 .bee-block-8 .bee-icon-image {
    padding: 5px 10px 5px 0
}

.bee-row-19 .bee-col-1 .bee-block-3 .bee-icon:not(.bee-icon-first) .bee-content,
.bee-row-19 .bee-col-2 .bee-block-13 .bee-icon:not(.bee-icon-first) .bee-content,
.bee-row-19 .bee-col-2 .bee-block-3 .bee-icon:not(.bee-icon-first) .bee-content,
.bee-row-19 .bee-col-2 .bee-block-8 .bee-icon:not(.bee-icon-first) .bee-content,
.bee-row-24 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
    margin-left: 0
}

.bee-row-19 .bee-col-1 .bee-block-3 .bee-icon::not(.bee-icon-last) .bee-content {
    margin-right: 0
}

.bee-row-19 .bee-col-1 .bee-block-5 a {
    background-color: #a87165;
    border-radius: 0;
    color: #ffffff;
    direction: ltr;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 200%;
    padding: 10px 30px;
    width: auto
}

.bee-row-19 .bee-col-2 .bee-block-3 .bee-icon::not(.bee-icon-last) .bee-content {
    margin-right: 0
}

.bee-row-19 .bee-col-2 .bee-block-10 a,
.bee-row-19 .bee-col-2 .bee-block-15 a,
.bee-row-19 .bee-col-2 .bee-block-5 a {
    border-radius: 0;
    color: #a87165;
    direction: ltr;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 200%;
    width: auto
}

.bee-row-19 .bee-col-2 .bee-block-8 .bee-icon::not(.bee-icon-last) .bee-content {
    margin-right: 0
}

.bee-row-19 .bee-col-2 .bee-block-13 .bee-icon::not(.bee-icon-last) .bee-content {
    margin-right: 0
}

.bee-row-22 .bee-col-1 .bee-block-2 {
    color: #9d8a8a;
    font-size: 16px;
    line-height: 150%;
    text-align: left
}

.bee-row-22 .bee-col-1 .bee-block-3 {
    color: #9d8a8a;
    font-size: 16px;
    line-height: 120%;
    text-align: left
}

.bee-row-22 .bee-col-1 .bee-block-3 a {
    color: #d7fff3
}

@media (max-width:768px) {
    .bee-form form {
        width: 100% !important
    }

    img.fullwidthOnMobile {
        max-width: none !important
    }

    .bee-menu ul.with-bee-hamburger {
        display: none;
        padding: 5px 0;
        position: relative;
        top: -4px
    }

    .bee-menu ul.with-bee-hamburger li {
        display: block;
        text-align: center
    }

    .bee-menu ul.with-bee-hamburger li a {
        text-decoration: none
    }

    .bee-menu ul.with-bee-hamburger span {
        display: none
    }

    #bee-hamburger-memu-r0c1m0:checked~ul,
    .row-content:not(.no_stack) {
        display: block
    }

    .header .bee-col-2 .bee-block-1 .bee-hamburger-controls {
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 50%
    }

    .header .bee-col-2 .bee-block-1 .bee-hamburger-controls span {
        width: 24px;
        height: 24px
    }

    .header .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-open,
    .bee-row-22 .bee-col-2 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-open,
    .bee-row-22 .bee-col-3 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-open {
        background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
        transform: translate(-50%, -50%) scaleY(1)
    }

    .header .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-close,
    .bee-row-22 .bee-col-2 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-close,
    .bee-row-22 .bee-col-3 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-close {
        background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
        transform: translate(-50%, -50%) scaleY(0)
    }

    .header .bee-col-2 .bee-block-1 ul.with-bee-hamburger {
        background-color: #ffffff
    }

    .header .bee-col-2 .bee-block-1 ul.with-bee-hamburger li,
    .header .bee-col-2 .bee-block-1 ul.with-bee-hamburger li a,
    .bee-row-22 .bee-col-2 .bee-block-2 ul.with-bee-hamburger li,
    .bee-row-22 .bee-col-2 .bee-block-2 ul.with-bee-hamburger li a,
    .bee-row-22 .bee-col-3 .bee-block-2 ul.with-bee-hamburger li,
    .bee-row-22 .bee-col-3 .bee-block-2 ul.with-bee-hamburger li a {
        color: #000000
    }

    #bee-hamburger-memu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-open {
        transform: translate(-50%, -50%) scaleY(0)
    }

    #bee-hamburger-memu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-close {
        transform: translate(-50%, -50%) scaleY(1)
    }

    .bee-row-22 .bee-col-2 .bee-block-2 .bee-hamburger-controls,
    .bee-row-22 .bee-col-3 .bee-block-2 .bee-hamburger-controls {
        width: 36px;
        height: 36px;
        background-color: #d7fff3;
        border-radius: 50%
    }

    .bee-row-22 .bee-col-2 .bee-block-2 .bee-hamburger-controls span,
    .bee-row-22 .bee-col-3 .bee-block-2 .bee-hamburger-controls span {
        width: 18px;
        height: 18px
    }

    .bee-row-22 .bee-col-2 .bee-block-2 ul.with-bee-hamburger,
    .bee-row-22 .bee-col-3 .bee-block-2 ul.with-bee-hamburger {
        background-color: #d7fff3
    }
}

.bee-row-24 .bee-col-1 .bee-block-1 .bee-icon-image {
    padding: 5px 6px 5px 5px
}

.bee-row-24 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
    margin-right: 0
}

.bee-row-14 .bee-col-2 .bee-block-3,
.bee-row-22 .bee-col-4 .bee-block-2,
.bee-row-22 .bee-col-4 .bee-block-2 .bee-button-container {
    text-align: left
}

.bee-row-14 .bee-col-2 .bee-block-3 form,
.bee-row-22 .bee-col-4 .bee-block-2 form {
    display: inline-block;
    width: 100%
}

.bee-row-14 .bee-col-2 .bee-block-3 div.label,
.bee-row-14 .bee-col-2 .bee-block-3 label,
.bee-row-22 .bee-col-4 .bee-block-2 div.label,
.bee-row-22 .bee-col-4 .bee-block-2 label {
    color: #000000;
    line-height: 200%;
    text-align: left;
    display: block
}

.bee-row-14 .bee-col-2 .bee-block-3 ::-webkit-input-placeholder {
    color: #000000
}

.bee-row-14 .bee-col-2 .bee-block-3 :-moz-placeholder {
    color: #000000
}

.bee-row-14 .bee-col-2 .bee-block-3 ::-moz-placeholder {
    color: #000000
}

.bee-row-14 .bee-col-2 .bee-block-3 :-ms-input-placeholder {
    color: #000000
}

.bee-row-14 .bee-col-2 .bee-block-3 .bee-field>label:first-child,
.bee-row-14 .bee-col-2 .bee-block-3 div.label,
.bee-row-22 .bee-col-4 .bee-block-2 .bee-field>label:first-child,
.bee-row-22 .bee-col-4 .bee-block-2 div.label {
    padding: 3px
}

.bee-row-14 .bee-col-2 .bee-block-3 .bee-field.bee-inline-field input[type=checkbox] {
    position: relative;
    color: purple;
    top: 12px
}

.bee-row-14 .bee-col-2 .bee-block-3 input:not([type=checkbox]):not([type=radio]):not([type=image]) {
    background-color: #ffffff;
    border-bottom: 1px solid #A87165;
    border-left: 1px solid #A87165;
    border-radius: 0;
    border-right: 1px solid #A87165;
    border-top: 1px solid #A87165;
    color: #000000;
    padding: 10px;
    min-height: 56px
}

.bee-row-14 .bee-col-2 .bee-block-3 input:not([type=checkbox]):not([type=radio]):focus,
.bee-row-22 .bee-col-4 .bee-block-2 input:not([type=checkbox]):not([type=radio]):focus {
    outline-color: #ffea55
}

.bee-row-14 .bee-col-2 .bee-block-3 button,
.bee-row-22 .bee-col-4 .bee-block-2 button {
    background-color: #a87165;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    border-radius: 0;
    border-right: 0px solid transparent;
    border-top: 0 solid transparent;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 200%;
    padding: 10px 20px;
    width: 100%
}

.bee-row-22 .bee-col-4 .bee-block-2 ::-webkit-input-placeholder {
    color: #000000
}

.bee-row-22 .bee-col-4 .bee-block-2 :-moz-placeholder {
    color: #000000
}

.bee-row-22 .bee-col-4 .bee-block-2 ::-moz-placeholder {
    color: #000000
}

.bee-row-22 .bee-col-4 .bee-block-2 :-ms-input-placeholder {
    color: #000000
}

.bee-row-22 .bee-col-4 .bee-block-2 .bee-field.bee-inline-field input[type=checkbox] {
    position: relative;
    color: purple;
    top: 10px
}

.bee-row-22 .bee-col-4 .bee-block-2 input:not([type=checkbox]):not([type=radio]):not([type=image]) {
    background-color: #ffffff;
    border-bottom: 1px solid #A87165;
    border-left: 1px solid #A87165;
    border-radius: 0;
    border-right: 1px solid #A87165;
    border-top: 1px solid #A87165;
    color: #000000;
    padding: 10px;
    min-height: 52px
}